<div class="w-100 db dn contactPage cf pb6" id="lojistaContent">
  <div class="fl w-50-ns w-100 dib-ns db mt0-ns mt2 lh-copy pr5-ns">
    <h2>Lojistas</h2>
    <p class="measure">
      Com mais de 30 anos de atuação no mercado de iluminação, a Golden Art já
      está presente em centenas lojas espalhadas por todo o Brasil oferecendo
      lustres, luminárias, abajures, colunas, arandelas, pendentes e mais para
      ajudar na criação de ambientes iluminados e harmonizados.
    </p>
    <p class="measure">
      Caso você tenha interesse em vender os produtos Golden Art em sua loja,
      preencha o formulário - podendo inclusive especificar os produtos de
      interesse / necessidade - e entraremos em contato com você em breve.
    </p>
  </div>
  <div class="fl w-50-ns w-100 dib-ns db overflow-y-hidden ba b--light-gray">
    <script src="https://static.airtable.com/js/embed/embed_snippet_v1.js"></script>
    <iframe
      class="airtable-embed airtable-dynamic-height"
      src="https://airtable.com/embed/shrPNLdak1NambOZY?backgroundColor=red"
      frameborder="0"
      onmousewheel=""
      width="100%"
      height="1337"
      style="background: transparent; border: 1px solid #ccc"
    ></iframe>
  </div>
</div>
