<div class="w-100 db dn contactPage cf pv6 bt b--light-gray" id="pessoaFisicaContent">
  <div class="fl w-50-ns w-100 dib-ns db mt0-ns mt2 lh-copy  pr5-ns">
    <h2>Pessoa Física</h2>
    <p class="measure" >Os produtos Golden Art estão presentes em diversas lojas de decoração e iluminação espalhadas pelo Brasil. Se você quer ajuda para adquirir uma luminária da Golden Art, preencha o formulário, nos conte qual produto você tem interesse que iremos ajudar a conseguí-lo
    </p>
    <!-- <%- include('./showroominfo') %> -->
  </div>
  <div class="fl w-50-ns w-100 dib-ns db overflow-y-hidden">
    <!-- <a class="pa3 bg-dark-red white dim link br2 " href="https://airtable.com/shr3zoc2RjitXm81m" target="_blank">Entre em contato</a> -->
    <script src="https://static.airtable.com/js/embed/embed_snippet_v1.js"></script><iframe class="airtable-embed airtable-dynamic-height" src="https://airtable.com/embed/shrAnukeVBlL7YrBZ?backgroundColor=red" frameborder="0" onmousewheel="" width="100%" height="1388" style="background: transparent; border: 1px solid #ccc;"></iframe>
  </div>
</div>
