<tr>
    <td class="v-top w-10 b pt2 pb3 pr3 bt b--light-gray"> Modelo 3D </td>
    <td class="v-top w-10  pt2 pb3 pr3 bt b--light-gray pt3"> <a class="link red pa2 ba hover-bg-red hover-white"
            href="<%= data["Link Arquivo 3D"] %>">
            Baixe
            no 3D Warehouse </a>
    </td>
</tr>