<% if(data['Cores Pintura']) {%>
<tr>
    <td class="v-top w-10 b pt2 pb3 pr3 bt b--light-gray"> Cores Pintura </td>
    <td class="v-top w-10  pt1 pb3 pr3 bt b--light-gray">
      <% if (data["Código Acabamento Especial"]){ %>
        <div class="pv2"><%= data["Código"] %></div>
      <% } %>
    <% colors.forEach(function(color, index){ %>
        <div class="db fl w-50-ns w-100 f6 mt2">
        <div class=' h1 w1 dib br-100 ba b--light-gray mr2 fl'  style=  <%= "background-color:" + color["fields"]["Webcode"] + ";min-width:1rem;"  %> ></div>
        <div class="dtc pl2 pr2"><%= color["fields"]["Nome"] %></div>
        </div>
    <% }); %>
    </td>
</tr>
<% } %>
