<tr>
    <td class="v-top w-10 b pt2 pb3 pr3 bt b--light-gray"> Cúpulas </td> 
    <td class="v-top w-10  pt2 pb3 pr3 bt b--light-gray"> 
    <% cupulas.forEach(function(item, index){ %>
        <div class="pr2 db fl w-third-l w-50 f6 mt2">
            <img src= <%= item['fields']['Desenho técnico'][0]["thumbnails"]["large"]['url'] %> alt="Siema image" />
            <%= item['fields']['Código'] + " — " + item['fields']['Material']%>
        </div>
    <% }); %>
    </td>
</tr>
