<% if (cupulas[0]) { %>
  <div class="db w-100 cf">
    <div class="w-100 pv3 pr3 bt b--light-gray"> Cúpulas </div>
    <div class="v-top w-100 pt2 pb3 pr3">
    <% cupulas.forEach(function(item, index){ %>
        <div class="db fl w-50 f6 ba b--light-gray">
          <% if (item['fields']['Material']) { %>
            <div class="mt3 ml3 b">
            <%= item['fields']['Código'] + " " +  item['fields']['Material']%>
            </div>
          <% } %>
          <% if (item['fields']['Desenho técnico']) { %>
            <img class="" src= <%= item['fields']['Desenho técnico'][0]["thumbnails"]["large"]['url'] %> />
          <% } %>

        </div>
    <% }); %>
  </div>
</div>
<% } %>
