<tr>
    <td class="v-top w-10 b pt1 pb3 pr3 bt b--light-gray"> Materiais </td> 
    <td class="v-top w-10  pt1 pb3 pr3 bt b--light-gray"> 
    <% data["Material"].forEach(function(item, index){ %>
            <% if(index == data["Material"].length - 1) { %>
            <%= item %>
            <% } else { %>
            <%= item + "," %>
            <% } %>
    <% }); %>
    </td>
</tr>
