<% if (specialcolors.length > 0) { %>
<tr>
    <td class="v-top w-10 b pt1 pb3 pr3 bt b--black-20"> Acabamentos especiais </td> 
    <td class="v-top w-10  pt1 pb3 pr3 bt b--black-20"> 
    <% specialcolors.forEach(function(color, index){ %>
        <div class="db fl w-third-l w-50 f6 mt2">
        <div class='dtc h1 w1 dib br-100 ba b--light-gray mr2'  style=  <%= style = "background-color:" + color["fields"]["Webcode"] + ";min-width:1rem;"  %> ></div>
        <div class="dtc pl2 nowrap"><%= color["fields"]["Nome"] %></div>
        </div>
    <% }); %>
    </td>
</tr>
<% } %>