<tr>
  <td class="v-top w-10 b pt2 pb3 pr3 bt b--light-gray lh-copy"> Acabamentos em latão </td>
  <td class="v-top w-10  pt1 pb3 pr3 bt b--light-gray">
    <% if(!data['Disponível em Latão']){ %>
    <% console.log(data) %>
    <p> Não disponível </p>
    <% } else if(data['Disponível em Latão']) {%>
    <% allColors.filter(function(color){return color.fields['Grupo'] === 'Acabamento especial'}).forEach(function(color){ %>
    <div class="db fl f6">
      <% if(color.fields['Render']) { %>
      <div class="br-pill overflow-hidden w1 h1 relative mr1 mt1">
        <img style="transform:scale(2)" class="absolute center tc"
          src="<%= color.fields['Render'][0]['thumbnails']['large']['url'] %>" alt="">
      </div>
      <% } %>
    </div>
    <% });} %>
  </td>
</tr>