
<% if (data["Desenho Técnico"]) { %>
  <div class="v-top w-100 b pt2 pb3 pr3 mt3 bt b--light-gray"> Medidas gerais </div>
  <% if (data["Desenho Técnico"].length == 1) { %>

    <% data["Desenho Técnico"].forEach(function(item){ %>
      <div class="w-100 fl db">
          <div class="aspect-ratio aspect-ratio--1x1">
              <img style= <%= "background-image:url('" +  item['url'] + "')"%> class="db bg-center contain aspect-ratio--object">
          </div>
      </div>
    <% }) %>
  <% } %>
  <% if (data["Desenho Técnico"].length > 1) { %>
    <% data["Desenho Técnico"].forEach(function(item){ %>
      <div class="w-50-ns w-100 fl db">
          <div class="aspect-ratio aspect-ratio--1x1">
              <img style= <%= "background-image:url('" +  item['url'] + "')"%> class="db bg-center contain aspect-ratio--object">
          </div>
      </div>
    <% }) %>
  <% } %>
<% } %>
