<% if (data["Desenho Técnico"]) { %>
  <div class="db w-100">
    <div class="v-top w-100 b pt2 pb3 pr3 bt b--light-gray"> Medidas Gerais </div>
    <div class="v-top w-100 pt2 pb3 pr3">
    <% data["Desenho Técnico"].forEach(function(item, index){ %>
        <div class="db fl w-50 f6 mt2 mb3">
            <img class="ba b--light-gray" src= <%= item["thumbnails"]["large"]['url'] %> />
        </div>
    <% }); %>
  </div>
</div>
<% } %>
