<% if (data["Desenho Técnico"]) { %>
    <div class="w-100 fl db mt3">
        <div class="aspect-ratio aspect-ratio--1x1">
            <img style= <%= "background-image:url(" +  data['Desenho Técnico'][0]['url'] + ")"%> class="db bg-center cover aspect-ratio--object">
        </div>
    </div>
<% } %>