<div id="product-content-header" class="w-100 db cf">
  <% if (data["Nome"]) {  %>
    <h1 class="fl mt0"> <%= data["Tipo"] + " " + data["Nome"] %> </h1>
  <% } else { %>
    <h1 class="fl mt0"> <%= data["Tipo"] + " " + data["Código"] %> </h1>
  <% } %>
    <% if (data["Modelo 3D"]) {  %>
        <a class="pa3 fr-l w-auto-l w-100 tc fl dib-l db f6 ba ba-red red link bg-animate hover-bg-red hover-white pointer mb3" target='blank' href= <%= data["Modelo 3D"][0]['url'] %> > ⤓ Modelo 3D </a>
    <% } %>
    <% if (data["Link Arquivo 3D"]) {  %>
      <a class="pa3 fr-l w-auto-l w-100 tc fl dib-l db f6 ba ba-red red link bg-animate hover-bg-red hover-white pointer mb3" target='blank' href= <%= data["Link Arquivo 3D"] %> > 3D Warehouse </a>
  <% } %>
</div>
