<!-- DESKTOP -->
<div class="h3 w-100 bg-white"></div>
<div id="home-banner" class="flex flex-column justify-center-l justify-end">
	<p class='f1-l f2 ml4 pt0-l pt5 b tracked-tight lh-solid pb0-l pb5'>Iluminando <br />
		desde 1984.
	</p>
</div>
</div>