<div class="siema w-100 vh-75-ns vh-50-m vh-50 mt5 bg-black">
		<div class="db h-100-ns h-50 w-100 bg-gray">
			<img class="w-100" src="https://images.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.whygoodnature.com%2Fvirteom%2Fuploaded_media%2Fcontent%2FBlogImages%2Fcat-1475253474.jpg&f=1" alt="">
	  </div>
		<div class="db h-100-ns h-50 w-100 bg-blue">
			<img class="w-100" src="https://images.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.whygoodnature.com%2Fvirteom%2Fuploaded_media%2Fcontent%2FBlogImages%2Fcat-1475253474.jpg&f=1" alt="">
	  </div>
		<div class="db h-100-ns h-50 w-100 bg-yellow">
<img class="w-100" src="https://images.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.whygoodnature.com%2Fvirteom%2Fuploaded_media%2Fcontent%2FBlogImages%2Fcat-1475253474.jpg&f=1" alt="">
	  </div>
		<div class="db h-100-ns h-50 w-100 bg-red">
<img class="w-100" src="https://images.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.whygoodnature.com%2Fvirteom%2Fuploaded_media%2Fcontent%2FBlogImages%2Fcat-1475253474.jpg&f=1" alt="">
	  </div>
</div>
