<div class="siema w-100 bg-black-20" style="max-height: 70vh">
		<div class="db w-100 relative">
			<!-- <div class="db-l dn w-100 white absolute mt6 pt5 tc">
				<p class='f2 dib fw1 mt0 mb0 pb0 pt0 v-mid h-100 ttu'>linha <br> <span class="b">Design.lab</span></p>
			</div> -->
			<img class="w-100" src="./images/designlab-hero.jpeg" alt="">
	  </div>
		<div class="db w-100 relative">
			<!-- <div class="db-l dn w-100 white absolute mt6 pt5 tc">
				<p class='f2 dib fw1 mt0 mb0 pb0 pt0 v-mid h-100 ttu'>linha <br> <span class="b">Essencial</span></p>
			</div> -->
			<img class="w-100" src="http://reka.com.br/wp-content/uploads/2016/10/REKA_RK01140_home_desk%E2%88%91.jpg" alt="">
	  </div>
		<div class="db w-100 relative">
			<!-- <div class="db-l dn w-100 white absolute mt6 pt5 tc">
				<p class='f2 dib fw1 mt0 mb0 pb0 pt0 v-mid h-100 ttu'>linha <br> <span class="b">Cristal</span></p>
			</div> -->
<img class="w-100" src="http://reka.com.br/wp-content/uploads/2016/10/REKA_RK01140_home_desk%E2%88%91.jpg" alt="">
	  </div>
		<div class="db w-100 relative">
			<!-- <div class="db-l dn w-100 white absolute mt6 pt5 tc">
				<p class='f2 dib fw1 mt0 mb0 pb0 pt0 v-mid h-100 ttu'>linha <br> <span class="b">Vintage</span></p>
			</div> -->
<img class="w-100" src="http://reka.com.br/wp-content/uploads/2016/10/REKA_RK01140_home_desk%E2%88%91.jpg" alt="">
	  </div>
</div>
