<div class="siema w-100 vh-75-ns vh-50-m vh-50 mt5 bg-black relative">
		<div class="banner h-100-ns h-50 w-100 bg-gray">
			askjd
	  </div>
		<div class="banner h-100-ns h-50 w-100 bg-blue">
			askjd
	  </div>
		<div class="banner h-100-ns h-50 w-100 bg-yellow">
			askjd
	  </div>
		<div class="banner h-100-ns h-50 w-100 bg-red">
			askjd
	  </div>
</div>
