<!-- DESKTOP -->
<div class="siema">
		<div class="db w-100 relative">
      <div class="db-l dn w-100 white absolute mt7 ml5 pt5 tl">
				<p class='f2 dib fw1 mt0 mb0 pb0 pt0 v-mid h-100 ttu'>linha <br> <span class="b">Design.Lab</span></p>
			</div>
			<img class="w-100" src="/images/golden-art-banner-designlab-1.png" alt="">
	  </div>
		<div class="db w-100 h-100 relative">
			<div class="db-l dn w-100 white absolute mt7 ml5 pt5 tl">
				<p class='f2 dib fw1 mt0 mb0 pb0 pt0 v-mid h-100 ttu'>linha <br> <span class="b">Essencial</span></p>
			</div>
      <div class="w-100 h-100">
      <img rel="preload" as="image" class="w-100" src="/images/golden-art-banner-essencial-1.png" alt="">
      </div>

	  </div>
		<div class="db w-100 relative">
      <div class="db-l dn w-100 white absolute mt7 ml5 pt5 tl">
				<p class='f2 dib fw1 mt0 mb0 pb0 pt0 v-mid h-100 ttu'>linha <br> <span class="b">Cristal</span></p>
			</div>
<img class="w-100" src="/images/golden-art-banner-cristal-1.png" alt="">
	  </div>
    <div class="db w-100 relative">
      <div class="db-l dn w-100 white absolute mt7 ml5 pt5 tl">
				<p class='f2 dib fw1 mt0 mb0 pb0 pt0 v-mid h-100 ttu'>linha <br> <span class="b">Vintage</span></p>
			</div>
<img class="w-100" src="/images/golden-art-banner-vintage-1.png" alt="">
	  </div>
</div>
