<div class="w-100 vh-75-ns vh-50-m vh-50 mt5 bg-black relative">
  
  <a href='/linhas/basic'>
  <div class="dim fl w-25-ns w-50 h-100-ns h-50 bg-red">
  </div>
  </a>
  
  <a href='/linhas/basic'>
  <div class="dim fl w-25-ns w-50 h-100-ns h-50 bg-near-white">
  </div>
  </a>
  
  <a href='/linhas/basic'>
  <div class="dim fl w-25-ns w-50 h-100-ns h-50 bg-gold">
  </div>
  </a>
  
  <a href='/linhas/basic'>
  <div class="dim fl w-25-ns w-50 h-100-ns h-50 bg-gray">
  </div>
  </a>
  
</div>