<!-- DESKTOP -->
<div class="siema">
	<div class="db w-100 relative">
		<img class="w-100" src="/images/golden-art-banner-designlab-1.png" alt="">
	</div>
	<div class="db w-100 h-100 relative">
		<div class="w-100 h-100">
			<img class="w-100" src="/images/golden-art-banner-essencial-1.png" alt="">
		</div>
	</div>
	<div class="db w-100 relative">
		<img class="w-100" src="/images/golden-art-banner-cristal-1.png" alt="">
	</div>
	<div class="db w-100 relative">
		<img class="w-100" src="/images/golden-art-banner-vintage-1.png" alt="">
	</div>
</div>