<div id="flexbox" class="w-100 vh-75-ns vh-50-m vh-50 mt5 bg-black relative">

  <div class="banner flexed h-100-ns h-50 bg-red">
  </div>

  <div class="banner flexed h-100-ns h-50 bg-near-white">
  </div>

  <div class="banner flexed h-100-ns h-50 bg-gold">
  </div>

  <div class="banner flexed  h-100-ns h-50 bg-gray">
  </div>

</div>
