<div class="siema w-100 bg-black-20" style="max-height: 75vh">
		<div class="db h-100-ns h-50 w-100">
			<div class="dib-l dn w-40 cf fl white absolute mt6 pt5 ml5">
				<p class='f1 dib fw1 mt0 mb0 pb0 pt0 v-mid h-100 ttu'>linha <br> <span class="b">Design.lab</span></p>
			</div>
			<img class="w-100" src="http://reka.com.br/wp-content/uploads/2016/10/REKA_RK01140_home_desk%E2%88%91.jpg" alt="">
	  </div>
		<div class="db h-100-ns h-50 w-100">
			<div class="dib-l dn w-40 cf fl white absolute mt6 pt5 ml5">
				<p class='f1 dib fw1 mt0 mb0 pb0 pt0 v-mid h-100 ttu'>linha <br> <span class="b">Essencial</span></p>
			</div>
			<img class="w-100" src="http://reka.com.br/wp-content/uploads/2016/10/REKA_RK01140_home_desk%E2%88%91.jpg" alt="">
	  </div>
		<div class="db h-100-ns h-50 w-100">
			<div class="dib-l dn w-40 cf fl white absolute mt6 pt5 ml5">
				<p class='f1 dib fw1 mt0 mb0 pb0 pt0 v-mid h-100 ttu'>linha <br> <span class="b">Cristal</span></p>
			</div>
<img class="w-100" src="http://reka.com.br/wp-content/uploads/2016/10/REKA_RK01140_home_desk%E2%88%91.jpg" alt="">
	  </div>
		<div class="db h-100-ns h-50 w-100">
			<div class="dib-l dn w-40 cf fl white absolute mt6 pt5 ml5">
				<p class='f1 dib fw1 mt0 mb0 pb0 pt0 v-mid h-100 ttu'>linha <br> <span class="b">Vintage</span></p>
			</div>
<img class="w-100" src="http://reka.com.br/wp-content/uploads/2016/10/REKA_RK01140_home_desk%E2%88%91.jpg" alt="">
	  </div>
</div>
