<!-- DESKTOP -->
<div class="db relative pt0-ns pt5">
	<div class="db w-100 black absolute mt7-l mt6-ns mt4 tl z-999">
		<p class='f1-l f2-ns f3 dib mt0 mb0 pb0 pt0 v-mid h-100 ml4 b tracked-tight lh-solid'>Iluminando <br />
			desde 1984.
		</p>
	</div>
	<div class="siema">
		<div class="db w-100 relative">
			<img class="w-100" src="/images/golden-art-banner-designlab-1.png" alt="">
		</div>
		<div class="db w-100 h-100 relative">
			<div class="w-100 h-100">
				<img class="w-100" src="/images/golden-art-banner-essencial-1.png" alt="">
			</div>
		</div>
		<div class="db w-100 relative">
			<img class="w-100" src="/images/golden-art-banner-cristal-1.png" alt="">
		</div>
		<div class="db w-100 relative">
			<img class="w-100" src="/images/golden-art-banner-vintage-1.png" alt="">
		</div>
	</div>
</div>