<div id="footer" class="w-100 bg-near-black ph5-l pv5 cf mt5">
  <div class="fl w-third-l w-50-ns w-100 ph0-l ph4">
    <p class='lh-copy light-gray b'>Assine nossa newsletter</p>
    <%- include('./mailchimp') %>
    <p class='lh-copy f7 gray mt4'> Copyright Golden-Art Ltda. 1984-2017</p>
    <p class='lh-copy f7 gray mb4'> Development by <a class="link gray" href="http://lucasn.com">lucasn</a></p>
  </div>
  <div class="fl w-third-l w-50-ns w-100 ph0-l ph4">
    <p class='lh-copy light-gray b'> Menu </p>
    <a href="/sobre/contato" class='link lh-copy light-gray db h2'> Contato </a>
    <a href="/sobre/sobre" class='link lh-copy light-gray db h2'> Sobre Nós </a>
  </div>
  <div class="fl w-third-l w-50-ns w-100 ph0-l ph4">
    <p class='lh-copy light-gray b'>Siga-nos nossas redes sociais</p>
    <!-- <p class='lh-copy light-gray'> Rua Vergueiro 8563, Ipiranga - São Paulo</p>
    <p class='lh-copy light-gray'> Seg à sex / 9h30 às 18h30</p>
    <p class='lh-copy light-gray'> Sáb / 9h30 às 14h00</p> -->
    <%- include('./social', {color: "#999", size: "1.5rem"}) %>
  </div>

</div>
       </div>
        <script type="text/javascript" src="/js/menu.js"></script>
        <script type="text/javascript" src="/js/siema.min.js"></script>
        <script
          type="text/javascript"
          async defer
          src="//assets.pinterest.com/js/pinit.js"></script>
          <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-53680822-1', 'auto');
  ga('send', 'pageview');
      </script>
    </body>
</html>
