<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title> <%= title %> </title>

        <meta name="description" content="Golden-Art: Há mais de 30 anos no mercado de iluminação decorativa">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="/images/favicon.ico"/>
        <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <script type="text/javascript" src="/js/menu.js"></script>
        <script type="text/javascript" src="/js/siema.min.js"></script>

				<link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,600" rel="stylesheet">

        <link rel="stylesheet" href="/css/app.css">


        <!-- Place favicon.ico in the root directory -->

        <!--<link rel="stylesheet" href="css/normalize.css">-->
        <!--<link rel="stylesheet" href="css/main.css">-->
        <!--<script src="js/vendor/modernizr-2.8.3.min.js"></script>-->


    </head>
    <body>
