<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title> <%= title %>  </title>
        <meta name="p:domain_verify" content="488e36024e0f4bb480c467bef85168c1"/>
        <meta name="description" content=" <%= description || 'Golden-Art: Há mais de 30 anos no mercado de iluminação decorativa' %> ">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="/images/favicon.ico"/>
        <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
				<link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,600" rel="stylesheet">
        <link rel="stylesheet" href="/css/app.css">
        <link rel="image_src" href="<%= share_image || '/images/sobre-torno.jpg' %>" />
        <script type="text/javascript" src="/js/utils.js"> </script>

        <!-- Hotjar Tracking Code for goldenart.com.br -->
        <script defer>
            (function(h,o,t,j,a,r){
                h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
                h._hjSettings={hjid:604948,hjsv:5};
                a=o.getElementsByTagName('head')[0];
                r=o.createElement('script');r.async=1;
                r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
                a.appendChild(r);
            })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
        </script>
        <!--<link rel="stylesheet" href="css/normalize.css">-->
        <!--<link rel="stylesheet" href="css/main.css">-->
        <!--<script src="js/vendor/modernizr-2.8.3.min.js"></script>-->
    </head>
    <body>
