<!--DESKTOP MENU-->
<nav id="desktopMenuWrapper" class="absolute top-0 z-max db-l dn w-100 border-box pv5 ph5 bg-transparent">
    <!--LOGO-->
    <a href="/" id="logo" class="dib v-top mid-gray link">
    	<img src="/images/logotipo_golden.svg" class="dib" alt="golden art logotype">
    </a>



		<!--//MENU ITEMS-->
    <div id="desktopMenuItems" class="fr cf">
			<!--SEARCH-->
			<form class="db w4 mr3" action="/busca" method="GET">
					<input class="input-reset ba b--white white pa2 mb2 db w-100 f5 tr" type="text input" placeholder="Busca" name="search" style=" background-color: transparent; font-family:inherit ">
					<input class="dn" type="submit">
			</form>
      <a class="link white f5 db hover-red tr pv1 pointer mt3" href='/sobre/sobre'> Sobre nós </a>
			<a class="link white f5 db hover-red tr pv1 pointer" href='/sobre/news'> News </a>
			<a class="link white f5 db hover-red tr pv1 pointer" href='sobre/contato'> Contato </a>
    </div>

</nav>


<!--MOBILE MENU-->
<nav id="mobileMenuWrapper" class="absolute top-0 z-max dn-l db db dt w-100 border-box pv3 ph4 bg-white">

    <!--LOGO-->
    <a href="/" id="logo" class="fl w4 dib-ns db v-top mid-gray link dim">
    <img src="/images/logotipo_golden.svg" class="" alt="golden art logotype">
    </a>

    <div id="mobileMenuButton" class='fr w-10 gray pt2 f5'>MENU</div>

    <!--//MENU ITEMS-->
    <div id="mobileMenuItems" class="db w-100 fl v-mid center tl pt">
        <div id="spacer" class="h3"></div>
				<!--SEARCH-->
				<form class="dib w-100 pt2 black" action="/busca" method="GET">
					<div class="measure">
						<input class="input-reset black pa3 fl tc ba b--near-white bg-near-white mb2 db w-100 f5" type="text input" placeholder="Busca" name="search" style="font-family:inherit; font-weight: lighter">
						<input class="dn" type="submit">
					</div>
				</form>
          <div class="db v-top pb4 pt1 bb">
            <span class="link dark-gray f4 b db pv1 mb2">
            </span>
              <a class="link gray f5 mr3 db hover-red pv2 pointer" href='#'> asdasd </a>
          </div>
    </div>

</nav>
