<nav class="db dt-l w-100 border-box pa3 ph5-l">
  <a class="db dtc-l v-mid mid-gray link dim w-100 w-25-l tc tl-l mb2 mb0-l" href="/" title="Home">
    <img src="/images/logotipo_golden.svg" class="dib w4" alt="golden art logotype">
  </a>
  <div class="db dtc-l v-mid w-100 w-75-l tc tr-l">
    <a class="link  dark-gray f6 f5-l dib mr3 mr4-l hover-red" href="/sobre" title="Sobre Nós">Sobre nós</a>
    <a class="link  dark-gray f6 f5-l dib mr3 mr4-l hover-red" href="/categorias" title="Categorias">Categorias</a>
    <a class="link  dark-gray f6 f5-l dib mr3 mr4-l hover-red" href="/linhas" title="Linhas">Linhas</a>
    <a class="link  dark-gray f6 f5-l dib mr3 mr4-l hover-red" href="/contato" title="Contato">Contato</a>
    <a class="link  dark-gray f6 f5-l dib" href="/news" title="News">News</a>
  </div>
</nav>