<% var menuItems = {
  categorias: {
    "path": "Categorias",
    "subitens": [
      "Teto",
      "Piso",
      "Mesa",
      "Parede"
    ]
  },
  linhas: {
    "path": "Linhas",
    "subitens": [
      "Design Lab",
      "Basic",
      "Vintage",
      "Cristal"
    ]
  },
  sobre: {
    "path": "Sobre",
    "subitens": [
      "Sobre",
      "Contato",
      "News"
    ]
  }
}

 %>

<nav id="menuWrapper" class="">
  <div id="menu-top" class="db dt w-100 border-box pv3 ph5 bg-white">
    
    <!--LOGO-->
    <a href="/" id="logo" class="w4 dib v-top mid-gray link dim">
    <img src="/images/logotipo_golden.svg" class="dib" alt="golden art logotype">
    </a>
    
    <!--//MENU ITEMS-->
    <div id="menuItems" class="dib w-75 fr v-mid center tl pl5">
        <% for (i in menuItems) { %>
          <div class="w4 dib v-top pt2">
            <span class="link dark-gray f5 dib mr3 pv1 mb3">
              <%= menuItems[i]['path'] %>
            </span>
            <% for (j in menuItems[i]['subitens']) { %>
              <a class="link gray f5 mr3 db hover-red pv2 pointer" href=<%= "/" + menuItems[i]['path'] + "/" + menuItems[i]['subitens'][j] %>><%= menuItems[i]['subitens'][j] %> </a>
            <% } %>
          </div>
        <% } %>
    </div>
  </div>
</nav>