<!--DESKTOP MENU-->
<nav id="desktopMenuWrapper" class="ph4 fixed bg-white z-max flex-l align-center  items-center dn w-100 border-box">
  <!--LOGO-->
  <a href="/" id="logo" class="dib v-top mid-gray link relative" style="overflow-x:hidden; width:12rem; height:4rem">
    <img src="/images/logotipo_golden_expanded.svg" id="logo-expanded" class="" alt="golden art logotype">
  </a>
  <!--//MENU ITEMS-->
  <div class="w-100 flex justify-end" id="desktopMenuItems">
    <a class="link pa3 f6 dib tl pointer mr4 black menuitem" href='/sobre/sobre'> Sobre </a>
    <a class="link pa3 f6 dib tl pointer mr4 black menuitem" href='/'> Produtos </a>
    <a class="link pa3 f6 dib tl pointer mr4 black menuitem" href='/cores'> Acabamentos </a>
    <a class='link pa3 f6 dib tl pointer mr4 black menuitem' href='/sobre/contato'> Orçamentos </a>
    <!--SEARCH-->
  </div>
  <form class="dib w5 mr4" action="/busca" method="GET">
    <input class="input-reset ba b--white black pa3 db w-100 f5 tl br3 b gray" type="text input" placeholder="Busca"
      name="search" style="background-color: #f3f3f3">
    <input class="dn" type="submit">
  </form>
</nav>


<!--MOBILE MENU-->
<nav id="mobileMenuWrapper" class="fixed bg-white w-100 z-max dn-l h3 justify-between flex align-center items-center">
  <!--LOGO-->
  <a href="/" id="logo" class="link dim">
    <img src="/images/logotipo_golden.svg" id="logo-small" class="" alt="golden art logotype">
  </a>
  <a href="#mobileMenuItems" id="mobileMenuButton" class="pointer b gray link pr4">Menu</a>
</nav>
<!--//MENU ITEMS-->
<div id="mobileMenuItems" class="absolute w-100 vh-100 z-max mt5 ph4 fl center bg-white">
  <div id="spacer" class="h3"></div>
  <!--SEARCH-->
  <form class="dib w-100 pt2 black" action="/busca" method="GET">
    <input class="input-reset black pv3 fl tc ba b--near-white bg-near-white mb2 db w-100 f4" type="text input"
      placeholder="Busca" name="search" style="font-family:inherit;">
    <input class="dn" type="submit">
  </form>

  <div class="flex flex-column pb4 pt1">
    <span class="link dark-gray f4 b db pv1 mb2"></span>
    <a class="link gray f4 mr3 db hover-red pv3 pointer" href="/">Home</a>
    <a class="link gray f4 mr3 db hover-red pv3 pointer" href="/sobre/sobre">Sobre nós</a>
    <a class="link gray f4 mr3 db hover-red pv3 pointer" href="/">Produtos</a>
    <a class="link gray f4 mr3 db hover-red pv3 pointer" href="/cores">Acabamentos</a>
    <a class="link gray f4 mr3 db hover-red pv3 pointer" href="/sobre/contato">Orçamentos</a>
  </div>

</div>