<%- include('./includes/header', {title: "Assinaturas", share_image: null, description: null }); %>
<%- include('./includes/menu', {theme: 'positive'}) %>
<div id="page-wrapper" class="ph5-ns ph4 cf pt4">
  <a class="db pv3 link" href="/assinaturas/assinatura_gdart_amanda.html">Amanda</a>
  <a class="db pv3 link" href="/assinaturas/assinatura_gdart_caio.html">Caio</a>
  <a class="db pv3 link" href="/assinaturas/assinatura_gdart_carlos.html">Carlos</a>
  <a class="db pv3 link" href="/assinaturas/assinatura_gdart_cido.html">Cido</a>
  <a class="db pv3 link" href="/assinaturas/assinatura_gdart_esley.html">Esley</a>
  <a class="db pv3 link" href="/assinaturas/assinatura_gdart_marcos.html">Marcos</a>
  <a class="db pv3 link" href="/assinaturas/assinatura_gdart_nelson.html">Nelson</a>
<div>
