<%- include('./includes/header', {title: "Golden-Art"}); %>

%>
<!--<div class="w-100 vh-50 cover pa5" style="background-image: url(/images/sobre-torno.jpg)">-->
    
<!--</div>-->
<div class="w-100 pa5-l pa4 bg-dark-red">
        <p class='f2-l f3 white measure-narrow lh-solid  lh-display '>Fale com a gente</p>
    </div>

<div class="ph5-ns ph4">
    
    <!--contato-->
    
    <div id="contato" class="db w-100 bt b--light-gray pv5">
        <div class="fl w-50-l w-100">
            <div class="db b f4-l f5 mt0-l mt4">Canais de atendimento</div>
            <div class="measure pv3 mt5 bt b--light-gray">
                Rua Vergueiro, 8500  - Ipiranga
                04272-300  - São Paulo-SP
            </div>
            <div class="db measure pv3 bt b--light-gray">
                Fone: (11) 2069-9700
            </div>
            <div class="db measure pv3 bt b--light-gray">
                oi@golden-art.com.br
            </div>
            <div class="db measure pv3 bt b--light-gray">
                facebook.com/goldeniluminacao
            </div>
            <div class="db measure pv3 bt b--light-gray">
                instagram.com/goldeniluminacao
            </div>
            <div class="db measure pv3 bt b--light-gray">
                Para orçamentos ou dúvidas, preencha o formulário ou envie um e-mail para vendas@golden-art.com.br
            </div>
        </div>
        
        <div id="formulario" class="fl w-50-l w-100">
            <p class="b f4-l f5 mt0-l mt4">Orçamentos, parcerias e dúvidas</p>
            <%- include includes/formulario %>
        </div>
    </div>

    
</div>