<%- include('./includes/header', {title: "Golden-Art"}); %>
<%- include('./includes/banner') %>

<% var linhas = [
    "design",
    "basic",
    "cristal",
    "vintage"
];

%>

<div class="filters cf w-100 tc">
	<div class="menu w-100 cf">
		<div><a class="filter fl dib pa5 ba b--red current" id="designLab" href="/design-lab/">Design.lab</a></div>
		<div><a class="filter fl dib pa5 ba b--black" id="basic" href="/essencial/">Essencial</a></div>
		<div><a class="filter fl dib pa5 ba b--black" id="cristal" href="/cristal/">Cristal</a></div>
		<div><a class="filter fl dib pa5 ba b--black" id="vintage" href="/vintage/">Vintage</a></div>
  </div>
</div>

<div class="ph5-ns ph4">
  <main id="main" class="cf w-100 mt5">

  </main>
</div>
