<%- include('./includes/header', {title: "Golden-Art"}); %>
<%- include('./includes/banner') %>

<div class="filters w-100 flex justify-around ph5 relative" style="margin-top:-6rem">
		<a class="f5-ns f6 filter link white tc w-25 mh3-ns mh1 pa3-ns pa2 current" style="min-width: 6rem" id="designlab"  href="/design-lab/">Linha Design.lab</a>
		<a class="f5-ns f6 filter link white tc w-25 mh3-ns mh1 pa3-ns pa2" style="min-width: 6rem" id="essencial"  href="/essencial/">Linha Essencial</a>
		<a class="f5-ns f6 filter link white tc w-25 mh3-ns mh1 pa3-ns pa2" style="min-width: 6rem" id="cristal"  href="/cristal/">Linha Cristal</a>
		<a class="f5-ns f6 filter link white tc w-25 mh3-ns mh1 pa3-ns pa2" style="min-width: 6rem" id="vintage"  href="/vintage/">Linha Vintage</a>
</div>

<div class="ph5-ns ph4 cf mt5">

	<!-- <div class="fl dib-ns dn w-25 mt3 pr3">
		<h4 class='f5 pt3 bt b--near-white mt0'>Categorias</h4>
		<ul class="list pl0 f6 lh-copy">
			<li class="h2">Mesa</li>
			<li class="h2">Teto</li>
			<li class="h2">Parede</li>
			<li class="h2">Piso</li>
		</ul>
		<h4 class='f5 pt3 bt b--near-white mv2'>Materiais</h4>
		<ul class="list pl0 f6 lh-copy">
			<li class="h2">Latão</li>
			<li class="h2">Madeira</li>
			<li class="h2">Cobre</li>
			<li class="h2">Metal</li>
			<li class="h2">Cristal</li>
		</ul>
		<h4 class='f5 pt3 bt b--near-white mv2'>Tipos</h4>
		<ul class="list pl0 f6 lh-copy">
			<li class="h2">Abajur</li>
			<li class="h2">Plafon</li>
			<li class="h2">Luminária de mesa</li>
			<li class="h2">Coluna</li>
			<li class="h2">Lustre</li>
			<li class="h2">Pendente</li>
			<li class="h2">Arandela</li>
			<li class="h2">Trilho</li>
		</ul>
	</div> -->

  <main id="main" class="cf fl dib w-100 mt3 mb5"></main>

</div>
