<%- include('./includes/header', {title: "Golden-Art"}); %>
<%- include('./includes/banner') %>
<div class="w-100 ph5-l">
	<div class="filters w-100 center flex justify-around relative bg-white pa3" style="margin-top:-3rem; box-shadow: 0 25px 58px 0 rgba(0,0,0,0.10);">
			<a class=" dim f6 ttu filter link gray tc w-25 mh3-ns mh1 pa3-ns pa1 current " style="min-width: 6rem" id="designlab"  href="/design-lab/">Linha Design.lab</a>
			<a class=" dim f6 ttu filter link gray tc w-25 mh3-ns mh1 pa3-ns pa1" style="min-width: 6rem" id="essencial"  href="/essencial/">Linha Essencial</a>
			<a class=" dim f6 ttu filter link gray tc w-25 mh3-ns mh1 pa3-ns pa1" style="min-width: 6rem" id="cristal"  href="/cristal/">Linha Cristal</a>
			<a class=" dim f6 ttu filter link gray tc w-25 mh3-ns mh1 pa3-ns pa1" style="min-width: 6rem" id="vintage"  href="/vintage/">Linha Vintage</a>
	</div>
</div>


<div class="ph5-ns ph4 cf mt5">
	<div id="loader" class="w-100 h3 fl db relative mt2 showbox">
		<div class="loader">
			<svg class="circular" viewBox="25 25 50 50">
				<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
			</svg>
		</div>
	</div>

  <main id="main" class="cf fl dib w-100 mt3 mb5 relative h3">

	</main>

</div>
