<%- include('./includes/header', {title: "Golden-Art", share_image: null, description: null}); %>
<%- include('./includes/menu', {theme: 'negative'}) %>
<%- include('./includes/banner') %>
<script type="text/javascript" src="/js/filters.js"></script>



<div id='pageContent' class="ph4-ns ph4 cf">
  <div class="w-100">
    <div class="flex flex-wrap w-100">
      <ul class='mt3 list pl0 flex items-center align-center mb3 w-100'>
        <div class="b pv3 pr3">Linhas:</div>
        <div class="flex flex-wrap">
          <li id="allLines" class="lineFilter pointer currentLine">
            Todas</li>
          <li id="designlab" class="lineFilter pointer">
            Design.lab</li>
          <li id="essencial" class="lineFilter pointer">Essencial
          </li>
          <li id="cristal" class="lineFilter pointer">Cristal</li>
          <li id="vintage" class="lineFilter pointer">Vintage</li>
        </div>
      </ul>

      <ul class='mt3 list pl0 flex items-center align-center w-100'>
        <div class="b pa3">Uso:</div>
        <div class="flex flex-wrap">
          <li id='allCategories' class='categoryFilter currentCategory'>Todos</li>
          <li id='Mesa' class='categoryFilter pointer'>Mesa</li>
          <li id='Teto' class='categoryFilter pointer'>Teto</li>
          <li id='Piso' class='categoryFilter pointer'>Piso</li>
          <li id='Parede' class='categoryFilter pb0 pointer'>Parede</li>
        </div>
      </ul>
    </div>
    <div id="loader" class="w-100 h3 fl db relative mt2 showbox">
      <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
          <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
      </div>
    </div>

    <main id="main" class="flex flex-wrap w-100 mt3 mb5 relative h6">

    </main>

  </div>
</div>

<%- include('./includes/footer') %>