<%- include('./includes/header', {title: "Golden-Art", share_image: null, description: null}); %>
<%- include('./includes/menu', {theme: 'negative'}) %>
<%- include('./includes/banner') %>
<script type="text/javascript" src="/js/filters.js"></script>

<div id='pageContent' class="ph4-ns ph4 cf">
  <div class="w-100">
    <div class="flex flex-nowrap-ns flex-wrap w-100">

      <ul class='items-start mt3 list pl0 flex flex-row-l flex-column  align-center mb3-l w-100'>
        <div class="b pv3 pr3 f6-l f7">Linhas:</div>
        <div class="flex flex-wrap">
          <li id="allLines" class="lineFilter dib pa3-l pa2 f6-l f7 pointer currentLine">
            Todas</li>
          <li id="designlab" class="lineFilter dib pa3-l pa2 f6-l f7 pointer">
            Design.lab</li>
          <li id="essencial" class="lineFilter dib pa3-l pa2 f6-l f7 pointer">Essencial
          </li>
          <li id="cristal" class="lineFilter dib pa3-l pa2 f6-l f7 pointer">Cristal</li>
          <li id="vintage" class="lineFilter dib pa3-l pa2 f6-l f7 pointer">Vintage</li>
        </div>
      </ul>

      <ul class='items-start mt3-l mt0 list pl0 flex flex-row-l flex-column align-center w-100'>
        <div class="b pv3 pr3-l f6-l f7">Uso:</div>
        <div class="flex flex-wrap">
          <li id='allCategories' class='categoryFilter dib pa3-l pa2 f6-l f7 currentCategory'>Todos</li>
          <li id='Mesa' class='categoryFilter dib pa3-l pa2 f6-l f7 pointer'>Mesa</li>
          <li id='Teto' class='categoryFilter dib pa3-l pa2 f6-l f7 pointer'>Teto</li>
          <li id='Piso' class='categoryFilter dib pa3-l pa2 f6-l f7 pointer'>Piso</li>
          <li id='Parede' class='categoryFilter dib pa3-l pa2 f6-l f7 pb0 pointer'>Arandela</li>
        </div>
      </ul>
    </div>
    <div id="loader" class="w-100 h3 fl db relative mt2 showbox">
      <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
          <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
      </div>
    </div>

    <main id="main" class="flex flex-wrap w-100 mt3 mb5 relative h6">

    </main>

  </div>
</div>

<%- include('./includes/footer') %>