<%- include('header', {title: "Golden-Art"}); %>
<h1>Golden-Art</h1>
<h2>Conheça nossas linhas</h2>

<% var linhas = ["basic", "design", "vintage"] %>

<% linhas.forEach(function(linha){ %>
    <h3><%= linha %></h3>
    <% data['records'].forEach(function(product) { %>
    <% if (product['fields']['Linha'] == linha) { %>
    <ul>
        <a href= <%= "/linhas/" + linha + "/" + product['fields']['Código'] %> >
            <li>
                <%= product['fields']['Código'] %>   
            </li>    
        </a>
        
    </ul>
    <% };}) %>
<% }) %>