<%- include('./includes/header', {title: "Golden-Art"}); %>
<%- include('./includes/banner') %>

<div class="filters w-100 flex justify-around">
	<div class="flex w-100">
		<a class="filter link black bg-animate bg-near-white br bb b--black-10 hover-bg-black tc hover-white w-25 pa4 current" id="designlab" sliderindex="1" href="/design-lab/">Design.lab</a>
		<a class="filter link black bg-animate bg-near-white br bb b--black-10 hover-bg-black tc hover-white w-25 pa4" id="essencial" sliderindex="1" href="/essencial/">Essencial</a>
		<a class="filter link black bg-animate bg-near-white br bb b--black-10 hover-bg-black tc hover-white w-25 pa4" id="cristal" sliderindex="1" href="/cristal/">Cristal</a>
		<a class="filter link black bg-animate bg-near-white br bb b--black-10 hover-bg-black tc hover-white w-25 pa4" id="vintage" sliderindex="1" href="/vintage/">Vintage</a>
	</div>
</div>

<div class="ph5-ns ph4">

	<aside class="fl dib-ns dn w-20 mt4 pr3 ">
		<h4 class='f5 pt3 bt b--black mv2'>Categorias</h4>
		<ul class="list pl0 f6 lh-copy">
			<li>Latão</li>
			<li>Madeira</li>
			<li>Abajur</li>
			<li>Metal</li>
			<li>Cristal</li>
			<li>Arandela</li>
			<li>Piso</li>
			<li>Mesa</li>
			<li>Banho</li>
		</ul>
		<h4 class='f5 pt3 bt b--black mv2'>Materiais</h4>
		<ul class="list pl0 f6 lh-copy">
			<li>Latão</li>
			<li>Madeira</li>
			<li>Abajur</li>
			<li>Metal</li>
			<li>Cristal</li>
			<li>Arandela</li>
			<li>Piso</li>
			<li>Mesa</li>
			<li>Banho</li>
		</ul>
		<h4 class='f5 pt3 bt b--black mv2'>Tipos</h4>
		<ul class="list pl0 f6 lh-copy">
			<li>Latão</li>
			<li>Madeira</li>
			<li>Abajur</li>
			<li>Metal</li>
			<li>Cristal</li>
			<li>Arandela</li>
			<li>Piso</li>
			<li>Mesa</li>
			<li>Banho</li>
		</ul>
	</aside>

  <main id="main" class="cf fl dib w-75 mt4"></main>

</div>
