<%- include('./includes/header', {title: "Golden-Art"}); %>
<%- include('./includes/banner') %>

<div class="filters w-100 flex justify-around mt4">
	<div class="w-50-ns flex w-100">
		<a class="filter link black bg-animate hover-bg-black tc hover-white w-25 pa3 current" id="designlab" href="/design-lab/">Design.lab</a>
		<a class="filter link black bg-animate hover-bg-black tc hover-white w-25 pa3" id="essencial" href="/essencial/">Essencial</a>
		<a class="filter link black bg-animate hover-bg-black tc hover-white w-25 pa3" id="cristal" href="/cristal/">Cristal</a>
		<a class="filter link black bg-animate hover-bg-black tc hover-white w-25 pa3" id="vintage" href="/vintage/">Vintage</a>
	</div>
</div>

<div class="ph5-ns ph4">
  <main id="main" class="cf w-100 mt5">

  </main>
</div>
