<%- include('./includes/header', {title: "Golden-Art", share_image: null, description: null}); %>
<%- include('./includes/menu', {theme: 'negative'}) %>
<%- include('./includes/banner') %>
<script type="text/javascript" src="/js/filters.js"></script>

<div id='pageContent' class="ph4-ns ph4 cf">
  <div class="w-100">
    <div class="flex flex-nowrap-ns flex-wrap w-100 mb4">

      <ul class='items-start mt3 mr0-l mr3 list pl0 flex flex-column  align-center mb3-l w-100'>
        <div class="b pv3 pr3 f6-l f7 pl3-l">Linha</div>
        <div class="flex flex-row-l flex-column flex-wrap w-100">
          <li id="allLines" class="lineFilter w-auto-l w-100 flex items-center dib pa3 f6-l f7 pointer currentLine">

            Todas</li>
          <li id="designlab" class="lineFilter w-auto-l w-100 flex items-center dib pa3-l pa2 f6-l f7 pointer">
            <img class="mr1" src="/images/design.svg">
            Design.lab</li>
          <li id="essencial" class="lineFilter w-auto-l w-100 flex items-center dib pa3-l pa2 f6-l f7 pointer">
            <img class="mr1" src="/images/essencial.svg">
            Essencial
          </li>
          <li id="cristal" class="lineFilter w-auto-l w-100 flex items-center dib pa3-l pa2 f6-l f7 pointer">
            <img class="mr1" src="/images/cristal.svg">
            Cristal</li>
          <li id="vintage" class="lineFilter w-auto-l w-100 flex items-center dib pa3-l pa2 f6-l f7 pointer">
            <img class="mr1" src="/images/vintage.svg">
            Vintage</li>
        </div>
      </ul>

      <ul class='items-start mt3 list pl0 flex flex-column align-center w-100'>
        <div class="b pv3 pr3-l f6-l f7 pl3-l">Uso</div>
        <div class="flex flex-row-l flex-column flex-wrap w-100">
          <li id='allCategories' class='categoryFilter flex items-center dib pa3 f6-l f7 currentCategory'>
            Todos</li>
          <li id='Mesa' class='categoryFilter flex items-center dib pa3-l pa2 f6-l f7 pointer'>
            <img class="mr1" src="/images/mesa.svg">
            Mesa</li>
          <li id='Teto' class='categoryFilter flex items-center dib pa3-l pa2 f6-l f7 pointer'>
            <img class="mr1" src="/images/teto.svg">
            Teto</li>
          <li id='Piso' class='categoryFilter flex items-center dib pa3-l pa2 f6-l f7 pointer'>
            <img class="mr1" src="/images/coluna.svg">
            Piso</li>
          <li id='Parede' class='categoryFilter flex items-center dib pa3-l pa2 f6-l f7 pb0 pointer'>
            <img class="mr1" src="/images/arandela.svg">
            Arandela</li>
        </div>
      </ul>
    </div>
    <div id="loader" class="w-100 h3 fl db relative mt2 showbox">
      <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
          <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
      </div>
    </div>

    <main id="main" class="flex flex-wrap w-100 mt3 mb5 relative h6">

    </main>

  </div>
</div>

<%- include('./includes/footer') %>