<%- include('./includes/header', {title: "Golden-Art"}); %>

%>
<!--<div class="w-100 vh-50 cover pa5" style="background-image: url(/images/sobre-torno.jpg)">-->
    
<!--</div>-->
<div class="w-100 pa5-l pa4 bg-dark-red mt5">
        <p class='f2-l f3 white measure-narrow lh-solid  lh-display'><strong class="b">Há mais de 30 anos </strong> no mercado de iluminação decorativa.</p>
    </div>

<div class="ph5-ns ph4">
    
    <!--SOBRE-->
    
    <div id="golden" class="cf db w-100 mb3 pv5">
        <img class="w-50-l w-100 fl db-s dn" src="/images/sobre-torno.jpg"></img>
        <div class="fl w-50-l w-100 pr5">
            <p class="b f4-l f5 mt0-l mt4">A Golden-Art</p>
            
            <p class="measure lh-copy">
                 Desde 1984, desenvolvemos peças reconhecidas pela qualidade, que é assegurada desde a escolha das matérias primas à montagem dos últimos detalhes, e pela sofisticação presente em objetos desenhados com primor.
        Assim, nossa empresa trabalha em conjunto com os clientes para iluminar ambientes trazendo sempre satisfação do consumidor final, compondo sua linha com o melhor da iluminação clássica e do design contemporâneo.
            </p>
        </div>
        <img class="w-50-l w-100 fl db-l dn" src="/images/sobre-torno.jpg"></img>
    </div>    
    

    
</div>