<%- include('./includes/header', {title: "Golden-Art – Sobre", share_image: null, description: null,}); %>
<%- include('./includes/menu', {theme: 'positive'}) %>

<div class="mt0-ns mt5 pt7">
  <!--SOBRE-->
  <h1 class='ph6 w-100 pb2 mt0 tl-ns tc f1-l f2 measure-narrow fw1'><strong class="b">Há mais de 30 anos </strong> no
    mercado de iluminação decorativa.</h1>
  <div id="golden" class="cf db w-100 pt5">
    <div class="fl w-100 pr5 ph6-ns ph4 pv6 cf"
      style="background-image: url('/images/sobre-torno.jpg'); background-size:cover;">
      <div class="w-50-l w-100 fl">
        <p class="b f4-l f5 mt0-l mt4 white">A Golden-Art</p>
        <p class="measure lh-copy white">
          Desde 1984, desenvolvemos peças reconhecidas pela qualidade, que é assegurada desde a escolha das matérias
          primas à montagem dos últimos detalhes, e pela sofisticação presente em objetos desenhados com primor.
          Assim, nossa empresa trabalha em conjunto com os clientes para iluminar ambientes trazendo sempre satisfação
          do consumidor final, compondo sua linha com o melhor da iluminação clássica e do design contemporâneo.
        </p>
        <p class="measure lh-copy white">
          No nosso mundo ideal, todos os ambientes são confortáveis e equilibrados. Para ajudar na construção desse
          mundo, fornecemos uma ampla linha de produtos, e acreditamos que no design e atendimento personalizados são
          diferenciais para garantir a satisfação total dos nossos clientes.
        </p>
        <img src="/images/feito-no-brasil.png" class="w5 multiply fl db mt4" style="mix-blend-mode: screen" alt="">
      </div>

    </div>
    <!-- <div class="w-100 db fl ph5-ns ph4 mt5 cf pr4">
          <div class="fl w-50-ns w-100">
            <p class="b f4-l f5 db measure">Conheça nosso showroom</p>
            <p class="measure db lh-copy">
              Quer ver de perto nossas peças? Preparamos um lugar especial para recebê-lo, na Rua Vergueiro 8563, no Ipiranga em São Paulo.
            </p>
            <p class="measure db lh-copy">
              Em nosso showroom, você encontra peças de nossa coleção e pode verificar de perto a qualidade de nossas produções.
            </p>
            <a class="pa3 w-auto-l w-100 tc dib-l db f6 ba ba-red red link bg-animate hover-bg-red hover-white pointer mv4" href="/sobre/contato"> Entre em contato </a>
          </div>
          <div class="fl w-50">
            <div class="db w-100 fl mv3">
              <p class='lh-copy gray'> Rua Vergueiro 8563, Ipiranga - São Paulo</p>
              <p class='lh-copy gray'> Seg à sex / 9h30 às 18h30</p>
              <p class='lh-copy gray'> Sáb / 9h30 às 14h00</p>
              <div class="mapouter pt4"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Rua%20Vergueiro%208563&t=&z=16&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>wordpress themes <a href="https://wpicus.com">wpicus</a></div><style>.mapouter{overflow:hidden;height:500px;width:600px;}.gmap_canvas {background:none!important;height:500px;width:600px;}</style></div>
            </div>
          </div>
        </div> -->
  </div>
</div>

<%- include('./includes/footer') %>