body{
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .05rem;
  font-weight: 300;
}

.main{
  min-height: 100vh;
}

#pageContent{
  min-height:60vh;
}

#logo{
  width:10rem;
  transition: all .2s;
}
#logo-small, #logo-expanded{
  height:4rem;
  position: absolute;
  top:0;
  left: 0;
  transition: all .2s;
}
#logo-small{
  width:4rem;
  transition: all .2s;
}
#desktopMenuWrapper,
#mobileMenuItems{
    transition: all .2s;
    overflow: hidden;
}

input:focus {
    outline: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
input::placeholder{
	color: lightGray;
}

#flexbox {
  display: flex;
  flex-flow: row;
}

.flexed {
  height: 100%;
  flex-grow: 1;
  transition: flex-grow .3s ease-in-out ;
}

.flexGrow {
	flex-grow: 4;
	transition: flex-grow .3s ease-in-out ;
}

.currentLine{
	color:#222;
	font-weight: bold;
}

.currentContact{
	color:#d62626;
	font-weight: bold;
  border-bottom: 3px solid #d62626;
}

#categoryFilterList{
  transition: opacity .2s;
}

a:hover, a:active, a:focus {
  outline: 0;
}

.link:hover, .link:active, .link:focus {
  outline: 0;
}

/*LOADER*/

// demo-specific

// end demo-specific

.loader {
  position: relative;
  margin: 0 auto;
  width: 4rem;
  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes color {
  100%,
  0% {
    stroke: red;
  }

}
