body{
    background-color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: lighter;
    /*font-family: 'Karla', sans-serif;*/
    /*font-family: 'Didact Gothic', sans-serif;*/
    /*font-family: 'Space Mono', serif;*/
    /*font-family: 'Inconsolata', serif;*/
    /*font-family: 'Chivo', serif;*/
}
#desktopMenuWrapper,
#mobileMenuItems{
    transition: all .2s;
    overflow: hidden;
}
#mc_embed_signup form{
padding: 0px 0px 0px 0px !important;
}

input:focus {
    outline: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
		border-bottom: 1px solid red;
}
input::placeholder{
	color: #ccc;
}

#flexbox {
    display: flex;
    flex-flow: row;
}

.flexed {
    height: 100%;
    flex-grow: 1;
    transition: flex-grow .3s ease-in-out ;
}

.flexGrow {
	flex-grow: 4;
	transition: flex-grow .3s ease-in-out ;
}
